<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core" />
  </configSections>
  <appSettings>
    <add key="RestClient" value="http://localhost:27767" />
    <add key="RestRequest" value="MidExam.Website/BmkApi.aspx" />
  </appSettings>
  <connectionStrings>
    <!-- userdbfs\bmk.dbf 地址 -->
    <add name="VfpConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source='userdbfs\bmk.dbf';Collating Sequence=MACHINE;" />
    <add name="AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=Access.mdb" />
  </connectionStrings>
  <Leafing.Settings>
    <add key="DefaultContext" value="SQLite" />
    <!-- Sqlite config -->
    <add key="SQLite.AutoCreateTable" value="true" />
    <add key="SQLite.DataBase" value="@SQLite : @d:\Bmk.db" />
    <add key="SQLite.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.84.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
  </Leafing.Settings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Leafing.Data" publicKeyToken="d77bbd87a80780b6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4539.19547" newVersion="4.2.4539.19547" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Leafing.Core" publicKeyToken="3eacc2a29b11f14a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4539.19547" newVersion="4.2.4539.19547" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>