<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Leafing.Settings" type="Leafing.Core.Setting.NameValueSectionHandler, Leafing.Core" />
  </configSections>
  <connectionStrings>
    <!-- userdbfs\bmk.dbf 地址 -->
    <add name="VfpConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source='D:\学校工作\中考程序_报名点版2012-2-27\中考程序_报名点版\userdbfs\bmk.dbf';Collating Sequence=MACHINE;" />
    <add name="AccessConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=Access.mdb" />
  </connectionStrings>
  <Leafing.Settings>
    <add key="DefaultContext" value="SqlServer2005" />
    <!-- Sqlite config -->
    <add key="SQLite.AutoCreateTable" value="true" />
    <!--<add key="SQLite.DataBase" value="@SQLite : @~Bmk.db" />-->
    <add key="SQLite.DataBase" value="@SQLite : @d:\Bmk.db" />
    <add key="SQLite.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    <add key="Sqlite1.DataBase" value="@SQLite : @~Test.db" />
    <add key="Sqlite1.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.65.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    <add key="Init.AutoCreateTable" value="true" />
    <add key="Init.DataBase" value="@SQLite : @~Test.db3" />
    <add key="Init.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    <!-- MySql config -->
    <add key="MySql.AutoCreateTable" value="true" />
    <add key="MySql.DataBase" value="@MySql : server=localhost;user id=root; password=123; database=mytest; pooling=false" />
    <add key="MySql.DbProviderFactory" value="@SmartDbFactory : MySql.Data, Version=5.2.2.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <!-- Sql Server 2000 config -->
    <add key="SqlServer.AutoCreateTable" value="true" />
    <add key="SqlServer.DataBase" value="@SqlServer2000 : data source=LLF-PC\SQLEXPRESS;initial catalog=llf_sql_test;user id=sa;password=123" />
    <!-- vfp dbf config data1.dbc-->
    <add key="vfp.AutoCreateTable" value="true" />
    <add key="vfp.DataBase" value="@Dbf : @D:\test\" />
    <!-- SqL数据库地址 -->
    <add key="SqlServer2005.AutoCreateTable" value="true" />
    <add key="SqlServer2005.DataBase" value="@SqlServer2005 : data source=10.129.4.254;initial catalog=Bmk2013;user id=sa;password=12345" />
  </Leafing.Settings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Leafing.Data" publicKeyToken="d77bbd87a80780b6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4539.19547" newVersion="4.2.4539.19547" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Leafing.Core" publicKeyToken="3eacc2a29b11f14a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4539.19547" newVersion="4.2.4539.19547" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>